<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetoandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".telaSamoiedaMacho"></activity>
        <activity android:name=".telaSamoiedaFemea" />
        <activity android:name=".telaDescricaoSamoieda" />
        <activity android:name=".telaChowchowMacho" />
        <activity android:name=".telaChowchowFemea" />
        <activity android:name=".telaDescricaoChowchow" />
        <activity android:name=".telaJindoMacho" />
        <activity android:name=".telaJindoFemea" />
        <activity android:name=".tela_descricao_jindo" />
        <activity android:name=".tela_pug_macho" />
        <activity android:name=".telaPugFemea" />
        <activity android:name=".tela_descricao_pug" />
        <activity android:name=".telaChihuahuaMacho" />
        <activity android:name=".telaChihuahuaFemea" />
        <activity android:name=".telaPoodleMacho" />
        <activity android:name=".telaPoodleFemea" />
        <activity android:name=".telaBuldogueMacho" />
        <activity android:name=".telaBuldogueFemea" />
        <activity android:name=".telaPastoralemaoMacho" />
        <activity android:name=".telaPastoralemaoFemea" />
        <activity android:name=".telaLabradorMacho" />
        <activity android:name=".telaLabradorFemea" />
        <activity android:name=".activityTelaDescricaoPoodle" />
        <activity android:name=".activityTelaDescricaoBuldogue" />
        <activity android:name=".telaDescricaoChihuahua" />
        <activity android:name=".telaDescricaoPastorAlemao" />
        <activity android:name=".telaDescricaoLabrador" />
        <activity android:name=".telaRaca" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>